:root {
    --primary: #EE82EE;
    --primary-010: 	#DDA0DD;

    --secondary: #FFB6C1;
    --secondary-10: #FFC0CB;

    --white: #fff;

    --black: #10101a;
    --black-10: #2a2a30;

    --grey: #a7a7c0;
}