<header>
  <img
    src="/assets/img/eu.png"
    alt="Eliete Campos - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Eliete G. Campos</h1>
</header>
<aside>
  <div class="container">
    <p>
      Angular | React | React Native | Bootstrap | Ionic | Javascript |
      Typescript | C# Asp.NetCore MVC
    </p>
    <p>São Paulo / SP Brazil</p>
    <p>
      Sou Trainee de FrontEnd e iniciando no BackEnd na área de desenvolvimento
      de software
    </p>
    <nav>
      <ul>
        <li>
          <a
            href="/assets/pdf/CVEliete.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/eliete-campos/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="/assets/icons/whatsapp.svg"
          alt="icone para contato do whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511998864570&text=Ol%C3%A1%20Eliete,%20preciso%20de%20um%20job!"
            target="blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp:(11)99886-4570</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="/assets/icons/mail.svg"
          alt="icone para contato do e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:lilagomes3@hotmail.com" target="blank">
            <strong>Envie e-mail para:</strong>
            <p>lilagomes3&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
